{% extends 'stay_underflow/base.html' %}

{% block title %}New answer{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="contentReg">
        <h1>New answer</h1>

        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.content|as_crispy_field }}
          {{ form.image }}
          <p style="text-align: center; margin-top: 2%;"><input class="btn btn-outline-dark" type="submit" value="Answer"></p>
        </form>
    </div>

{% endblock %}
