{% extends 'stay_underflow/base.html' %}
    
{% block title %}Help{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header center" style="text-align: center;">
            <h1 class="blog-title">Benvingut a Stay Underflow</h1>
            <p class="lead blog-description">
                Respostes ràpides a preguntes eternes
            </p>
        </div>
        <hr>
        <div>
            <div>
                <h2>Que és Stay Underflow?</h2>
                <p>Stay Underflow és una web de preguntes i respostes construit per la comunitat que ajuda en cas de dubte a qualsevol persona que ho necessiti. La vostre ajuda fa que Stay Underflow sigui una web amb contingut de qualitat.</p>
                
                <pre><code>Example code block</code></pre>
                
            </div>
            <hr>
            <div>
                <h2>Que faig si algú ha respost la meva pregunta?</h2>
                <p>Decideix si la resposta és útil i després...</p>
                <ol>
                    <li>
                        <p><Strong>Vota per ella.</Strong> Vota les respostes que siguin útils i hagin estat ben investigades. Altres usuaris també votaran les respostes a la teva pregunta.</p>
                    </li>
                    <li>
                        <p><Strong>Accepta la resposta.</Strong> Com autor de la pregunta tens un privilegi especial: pots acceptar la resposta que creguis que és la millor solució al teu problema</p>
                    </li>
                </ol>
                <p>Per acceptar una resposta:</p>
                <ul>
                    <li>Escull una resposta que creguis que és la millor solució al teu problema.</li>
                    <li>Per marcar una resposta com acceptada, clica al botó que hi ha al costat de 'Mark as correct'.</li>
                    <li>Pots canviar quina resposta s'accepta, acceptar més d'una resposta o simplement no acceptar cap resposta. Pots acceptar una resposta en qualsevol moment.</li>
                </ul>
                <p>Acceptar una resposta no està obligat, no et sentis obligat a aceptar la primera resposta que rebis, espera fins a rebre una resposta que respongui bé a la teva pregunta</p>
            </div>
            <hr>
            <div>
                <h2>Que és el sistema de tags i com s'utilitza?</h2>
                <p>Un tag és una paraula que descriu el tema de la pregunta. Les etiquetas són una manera de que gent experta en un tema pugui buscar pel tag i respondre a les preguntes ràpidament.</p>
                <p>Les etiquetes també et poden ajudar a trobar preguntes sobre un tema de manera ràpida.</p>
                <p>Al clicar sobre una etiqueta s'accedeix a una pàgina que mostrarà totes les preguntes dintre d'aquesta etiqueta.</p>
                <h3>Format de les etiquetes</h3>
                <ul>
                    <li>En comptes d'espais utilitza guions per a convinar més d'una paraula (per exemple: "stack overflow" com a <pre><code>stack-overflow</code></pre>)</li>
                    <li>Evita la puntuació (pot dificultar l'us d'etiquetes a una URL)</li>
                    <li>Al crear una etiqueta pensa en com algú buscaria aquest tema.</li>
                </ul>
            </div>
            <hr>
            <div>
                <h2>Que faig si una pregunta o resposta és ofensiva?</h2>
                <p></p>
            </div>
            <hr>
            <div>
                <h2>Quan i com s'eliminen preguntes?</h2>
                <p>Si una resposta rep tres </p>
            </div>
            <hr>
            <div>
                <h2>Perquè és important votar?</h2>
            </div>
            <hr>
            <div>
                <h2>Que és l'honor? Com es guanya?</h2>
            </div>
        </div>
    </div>
    
{% endblock %}