<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

{% extends 'stay_underflow/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="contentLog">
        <form method="POST">
        <h1>Log in</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
        <div style="margin-top: 1%">
        <small class="text-muted">
            Need an account? <a style="color: orangered; margin-left: 4px" href="{% url 'register' %}">Sign up now</a>
        </small>
        </div>
        </form>
    </div>

{% endblock %}