<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

{% extends 'stay_underflow/base.html' %}

{% block content %}

    <div class="contentLog">
        <h1>Log in</h1>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ connection_form }}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input class="button" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>

{% endblock %}