{% extends 'stay_underflow/base.html' %}

{% block title %}{{object.author}} post{% endblock %}

{% block content %}

    <div>
        <div class="content">
            <div class="media">
                <div><img class="rounded-circle" src="{{ object.author.perfil.image.url }}" width="80" height="80">
                    {% if object.author.perfil.reputation > 100 and object.author.perfil.reputation <= 150 %}
                    <img src="/static/images/recompensa_1.png" class="center" style="margin-top: 13%; width: 80%;" title="Que és això?">
                    {% elif  object.author.perfil.reputation > 150 and object.author.perfil.reputation <= 200 %}
                    <img src="/static/images/recompensa_2.png" class="center" style="margin-top: 13%; width: 80%;" title="Que és això?">
                    {% elif object.author.perfil.reputation > 200 %}
                    <img src="/static/images/recompensa_3.png" class="center" style="margin-top: 13%; width: 80%;" title="Que és això?">
                    {% endif %}
                </div>
                <div class="media-body" style="margin-left: 1%;">
                    <h1>{{ object.title }}</h1>
                    <p class="text-secondary">By <a href="{%url 'profile' object.author %}">{{ object.author }}</a> on {{ object.date_posted|date:"j F, Y"}} at {{ object.date_posted|date:"G:i" }}</p>
                     <p>Tags: {% for tag in object.tags.all %} <a href="{% url 'tag_post' tag.name %}"> {{ tag.name }}</a>{% endfor %}</p>
                    <p>{{ object.content }} </p>
                    {% if views >= 0 and medalla >= 0 %}
                    <p class="like" style="width: 50%; float: right;">
                        {% if medalla == 0 %}
                            {{ views }} views
                        {% elif medalla == 1 %}
                            <i class="fas fa-medal" style="color: #CD7F32; margin-right: 5px"></i>{{ views }} views
                        {% elif medalla == 2 %}
                            <i class="fas fa-medal" style="color: #C0C0C0; margin-right: 5px"></i>{{ views }} views
                        {% elif medalla == 3 %}
                            <i class="fas fa-medal" style="color: #D4AF37; margin-right: 5px"></i>{{ views }} views
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% for ans in answers %}
            {% if ans.best %}
                <div class="content" style="border-width: 1px; border-style: solid; border-color:rgb(82, 255, 47); -webkit-box-shadow: 0px 2px 4px 0px green; -moz-box-shadow: 0px 4px 6px 0px green; box-shadow: 0px 4px 6px 0px green; margin-top: 1%;">
                    <i class="fa fa-check" aria-hidden="true" style="color: green; font-size: 45px; float: right; margin-right: 1.3%; margin-top: 0.3%;"></i>
            {% else %}
                <div class="content">
            {% endif %}
                    <div class="media" style="margin-top: 0.5%;">
                        <div style="text-align: center;"><img class="rounded-circle" src="{{ ans.author.perfil.image.url }}" width="50" height="50">
                            {% if ans.author.perfil.reputation > 100 and ans.author.perfil.reputation <= 150 %}
                            <img src="/static/images/recompensa_1.png" class="center" style="margin-top: 13%; width:55%;" title="Que és això?">
                            {% elif  ans.author.perfil.reputation > 150 and ans.author.perfil.reputation <= 200 %}
                            <img src="/static/images/recompensa_2.png" class="center" style="margin-top: 13%; width:55%;" title="Que és això?">
                            {% elif ans.author.perfil.reputation > 200 %}
                            <img src="/static/images/recompensa_3.png" class="center" style="margin-top: 13%; width:55%;" title="Que és això?">
                            {% endif %}
                        </div>
                        <div class="media-body" style="margin-left: 1%; margin-top: 1%;">
                            <p> By <a href="{%url 'profile' ans.author %}">{{ ans.author }}</a> on {{ ans.date_posted|date:"j F, Y"}} at {{ ans.date_posted|date:"G:i" }}</p>
                            <p style="margin-top: 2.2%;">{{ ans.content }}</p>
                        </div>
                    </div>

                {% if owner %}
                <div style="margin-top: 1.5%;">
                    <p class="like" style="width: 50%; float: right;">
                        <a href="{% url 'ans-like' post.id ans.id %}" class="fa fa-thumbs-up">{{ ans.likes.count }}</a>
                        <!--a href="{#% url 'post-like' post.id ans.id %#}" class="fa fa-thumbs-down">{#  #}{ ans.dislikes.count }}</a-->
                    </p>
                    <p style="width: 50%">
                    {% if ans.best %}
                        Dismark as correct
                        <label class="switch" style="float: left; margin-right: 10px;margin-top: -0.9%;"><a href="{% url 'ans-best' post.id ans.id %}">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </a></label>
                    {% else %}
                        Mark as correct
                        <label class="switch" style="float: left; margin-right: 10px"><a href="{% url 'ans-best' post.id ans.id %}">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </a></label>

                    {% endif %}
                    </p>
                {% else %}
                <div style="margin-bottom: -1%;">
                    <p class="like">
                        <a href="{% url 'ans-like' post.id ans.id %}" class="fa fa-thumbs-up">{{ ans.likes.count }}</a>
                        <!--a href="{#% url 'post-like' post.id ans.id %#}" class="fa fa-thumbs-down">{#  #}{ ans.dislikes.count }}</a-->
                    </p>
                {% endif %}
                </div>

            </div>
        {% endfor %}

        {% if user.is_authenticated %}
            <a class="btn btn-outline-dark" href="{% url 'new-answer' pk=object.pk %}">Nova resposta</a>
        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'register' %}">Nova resposta</a>
        {% endif %}
    </div>

{% endblock %}