<head>
    <meta charset="UTF-8">
    <title>Stay Underflow</title>
</head>

{% extends 'stay_underflow/base.html' %}

{% block content %}

    <div>
        <div class="content">
            <div class="media">
                <img class="rounded-circle" src="{{ object.author.perfil.image.url }}" width="80" height="80">
                <div class="media-body" style="margin-left: 1%;">
                    <h1>{{ object.title }}</h1>
                    <p class="text-secondary">By <a href="{%url 'profile' object.author %}">{{ object.author }}</a> on {{ object.date_posted|date:"j F, Y"}} at {{ object.date_posted|date:"G:i" }}</p>
                     <p>Tags: {% for tag in object.tags.all %} <a href="{% url 'tag_post' tag.name %}"> {{ tag.name }}</a>{% endfor %}</p>
                    <p>{{ object.content }}</p>
                </div>
            </div>
        </div>

        {% for ans in answers %}
            <div class="content">
                <p>By <a href="{%url 'profile' ans.author %}">{{ ans.author }}</a> on {{ ans.date_posted|date:"j F, Y"}} at {{ ans.date_posted|date:"G:i" }}</p>
                <p>{{ ans.content }}</p>
                {% if owner %}
                    {% if ans.best %}
                        <a class="btn btn-outline-dark" href="{% url 'ans-best' post.id ans.id %}">Desmarcar com a bona</a>
                    {% else %}
                        <a class="btn btn-outline-dark" href="{% url 'ans-best' post.id ans.id %}">Marcar com a bona</a>
                    {% endif %}
                {% endif %}
                <p class="like">
                    <a href="{% url 'ans-like' post.id ans.id %}" class="fa fa-thumbs-up">{{ ans.likes.count }}</a>
                    <!--a href="{#% url 'post-like' post.id ans.id %#}" class="fa fa-thumbs-down">{#  #}{ ans.dislikes.count }}</a-->
                </p>
            </div>
        {% endfor %}

        {% if user.is_authenticated %}
            <a class="btn btn-outline-dark" href="{% url 'new-answer' pk=object.pk %}">Nova resposta</a>
        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'register' %}">Nova resposta</a>
        {% endif %}
    </div>

{% endblock %}