<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

{% extends 'stay_underflow/base.html' %}

{% block content %}
    <div>
        <h1>{{ username }}'s profile</h1>
    </div>
    <br>
    <div class="profile">
        <div class="questions" style="float: left">
            <div style="text-align: center">QUESTIONS</div>
        <br>
            {% if  posts%}
                {% for post in posts %}
                    <div class="content">
                        <p><b>{{post.0 }}</b></p>
                        <p>{{ post.1 }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div>No posts from this user</div>
            {% endif %}
        </div>
        <div class="questions" style="float: right">
            <div style="text-align: center">ANSWERS</div>
        <br>
            {% if  answers%}
                {% for answer in answers %}
                    <div class="content">
                        <p>Responded: <b>{{answer.0 }}</b></p>
                        <p>To:{{ answer.1 }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div>No answers from this user</div>
            {% endif %}
        </div>
    </div>


{% endblock %}