{% extends 'stay_underflow/base.html' %}

{% block title %}My profile{% endblock %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <a href="{{ user.perfil.image.url }}" id="img" data-lightbox="{{ user.username }} profile picture" data-title="{{ user.username }} profile picture" title="Haz clic para ampliar la fotografía">
                <img class="rounded-circle account-img" src="{{ user.perfil.image.url }}" width="200" height="200">
            </a>
            <div class="media-body" style="margin-left: 2%;">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <h5><a href="{% url 'edit_profile' %}">Edit your profile</a></h5>
            </div>
        </div>
    </div>
    <br>
    <div class="profile">
        <div class="questions" style="float: left">
            <div style="text-align: center">QUESTIONS</div>
        <br>
            {% if  posts%}
                {% for post in posts %}
                    <div class="content">
                        <a href="{% url 'post-detail' post.2 %}" title="Go to the post"><p><b></b>{{ post.0 }}</b></p></a>
                        <p>{{ post.1 }}</p>
                        {% if medalla %}
                        <p class="like" style="width: 50%; float: right; margin-top: -30px;">
                            {% if medalla == 1 %}
                                <i class="fas fa-medal" style="color: #CD7F32; margin-right: 5px"></i>
                            {% elif medalla == 2 %}
                                <i class="fas fa-medal" style="color: #C0C0C0; margin-right: 5px"></i>
                            {% elif medalla == 3 %}
                                <i class="fas fa-medal" style="color: #D4AF37; margin-right: 5px"></i>
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div>No posts from this user</div>
            {% endif %}
        </div>
        <div class="questions" style="float: right">
            <div style="text-align: center">ANSWERS</div>
        <br>
            {% if  answers%}
                {% for answer in answers %}
                    <div class="content">
                        <p>Responded: <b>{{answer.0 }}</b></p>
                        <p>To: <a href="{% url 'post-detail' answer.2 %}" title="Go to the post">{{ answer.1 }}</a></p>
                    </div>
                {% endfor %}
            {% else %}
                <div>No answers from this user</div>
            {% endif %}
        </div>
    </div>


{% endblock %}