<head>
    <meta charset="UTF-8">
    <title>Stay Underflow</title>
</head>

{% extends 'stay_underflow/base.html' %}

{% block content %}

    <h1 style="display:inline-block">Preguntes principals</h1>

    <div style="display:inline-block; float: right">
        <a class="btn btn-outline-dark" href="{% url 'new-post' %}">Nova pregunta</a>
    </div>

    <div style="margin-top: 5%">
        {% for post in posts %}
            <div class="content">
                <a href="{% url 'post-detail' post.id %}" style="color: black"><h1>{{ post.title }}</h1></a>
                <p> By <a href="{%url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"j F, Y"}} at {{ post.date_posted|date:"G:i" }}</p>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>


{% endblock %}