<head>
    <meta charset="UTF-8">
    <title>Stay Underflow</title>
</head>

{% extends 'stay_underflow/base.html' %}

{% block content %}

    <div>
        <h1 class="welcomeH1">Welcome to StayUnderflow!</h1>
            <div class="placeDescriptionP" >
                    <p>
                        A place where you can solve coding problems or doubts!
                        <br><strong>Join the community!</strong>
                    </p>
            </div>
    </div>


{% endblock %}
