{% extends 'stay_underflow/base.html' %}

{% block title %}Stay Underflow{% endblock %}

{% block content %}

    <h1 style="display:inline-block">Preguntes principals</h1>

    <div style="display:inline-block; float: right">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-dark" href="{% url 'new-post' %}">Nova pregunta</a>
        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'register' %}">Nova pregunta</a>
        {% endif %}
    </div>


    <div class="tab">
      <button class="tablinks active" onclick="openQuestions(event, 'All')">All</button>
      <button class="tablinks" onclick="openQuestions(event,  'HOT')"><i class="fas fa-fire" style="color:orange"></i> views</button>
      <button class="tablinks" onclick="openQuestions(event,  'Done')">Done</button>
      <button class="tablinks" onclick="openQuestions(event, 'Undone')">Undone</button>
      <button class="tablinks" onclick="openQuestions(event, 'Unanswered')">Unanswered</button>
    </div>

    <div id="All" class="tabcontent city" style="display: block">
    {% if posts %}
      {% for post in posts %}
            <div class="content">
                <div class="media">
                    <div><img class="rounded-circle" src="{{ post.author.perfil.image.url }}" width="80" height="80">
                        {% if post.author.perfil.recompensa %}
                            <img src="/static/images/recompensa.png" class="center" style="margin-top: 13%;" title="Que és això?">
                        {% endif %}
                    </div>
                    <div class="media-body" style="margin-left: 1%;">
                        <a href="{% url 'post-detail' post.id %}" style="color: black"><h1>{{ post.title }}</h1></a>
                        <p class="text-secondary">By <a href="{%url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"j F, Y"}} at {{ post.date_posted|date:"G:i" }}</p>
                        <p>{{ post.content }}</p>
                        {% if post.views >= 0 %}
                        <p class="like" style="width: 50%; float: right; margin-top: -30px;">
                            {% if post.views >= 10 and post.views < 25 %}
                                <i class="fas fa-medal" style="color: #CD7F32; margin-right: 5px"></i>
                            {% elif post.views >= 25 and post.views < 100 %}
                                <i class="fas fa-medal" style="color: #C0C0C0; margin-right: 5px"></i>
                            {% elif post.views >= 100 %}
                                <i class="fas fa-medal" style="color: #D4AF37; margin-right: 5px"></i>
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    {% else %}
        There are no posts.
    {% endif %}
    </div>

    <div id="HOT" class="tabcontent city" style="display:none">
    {% if hot %}
      {% for post in hot %}
            <div class="content">
                <div class="media">
                    <img class="rounded-circle" src="{{ post.author.perfil.image.url }}" width="80" height="80">
                    <div class="media-body" style="margin-left: 1%;">
                        <a href="{% url 'post-detail' post.id %}" style="color: black"><h1>{{ post.title }}</h1></a>
                        <p class="text-secondary">By <a href="{%url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"j F, Y"}} at {{ post.date_posted|date:"G:i" }}</p>
                        <p>{{ post.content }}</p>
                        {% if post.views >= 0 %}
                        <p class="like" style="width: 50%; float: right; margin-top: -30px;">
                            {% if post.views >= 10 and post.views < 25 %}
                                <i class="fas fa-medal" style="color: #CD7F32; margin-right: 5px"></i>
                            {% elif post.views >= 25 and post.views < 100 %}
                                <i class="fas fa-medal" style="color: #C0C0C0; margin-right: 5px"></i>
                            {% elif post.views >= 100 %}
                                <i class="fas fa-medal" style="color: #D4AF37; margin-right: 5px"></i>
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    {% else %}
        There are no posts.
    {% endif %}
    </div>

    <div id="Done" class="tabcontent city" style="display:none">
    {% if done %}
        {% for post in done %}
            <div class="content">
                <div class="media">
                    <div><img class="rounded-circle" src="{{ post.author.perfil.image.url }}" width="80" height="80">
                        {% if post.author.perfil.recompensa %}
                            <img src="/static/images/recompensa.png" class="center" style="margin-top: 13%;" title="Que és això?">
                        {% endif %}
                    </div>
                    <div class="media-body" style="margin-left: 1%;">
                        <a href="{% url 'post-detail' post.id %}" style="color: black"><h1>{{ post.title }}</h1></a>
                        <p class="text-secondary">By <a href="{%url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"j F, Y"}} at {{ post.date_posted|date:"G:i" }}</p>
                        <p>{{ post.content }}</p>
                        {% if post.views >= 0%}
                        <p class="like" style="width: 50%; float: right; margin-top: -30px;">
                            {% if post.views >= 10 and post.views < 25 %}
                                <i class="fas fa-medal" style="color: #CD7F32; margin-right: 5px"></i>
                            {% elif post.views >= 25 and post.views < 100 %}
                                <i class="fas fa-medal" style="color: #C0C0C0; margin-right: 5px"></i>
                            {% elif post.views >= 100 %}
                                <i class="fas fa-medal" style="color: #D4AF37; margin-right: 5px"></i>
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    {% else %}
        There are no done posts.
    {% endif %}
    </div>

    <div id="Undone" class="tabcontent city" style="display:none">
    {% if undone %}
        {% for post in undone %}
            <div class="content">
                <div class="media">
                    <div><img class="rounded-circle" src="{{ post.author.perfil.image.url }}" width="80" height="80">
                        {% if post.author.perfil.recompensa %}
                            <img src="/static/images/recompensa.png" class="center" style="margin-top: 13%;" title="Que és això?">
                        {% endif %}
                    </div>
                    <div class="media-body" style="margin-left: 1%;">
                        <a href="{% url 'post-detail' post.id %}" style="color: black"><h1>{{ post.title }}</h1></a>
                        <p class="text-secondary">By <a href="{%url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"j F, Y"}} at {{ post.date_posted|date:"G:i" }}</p>
                        <p>{{ post.content }}</p>
                        {% if post.views >= 0 %}
                        <p class="like" style="width: 50%; float: right; margin-top: -30px;">
                            {% if post.views >= 10 and post.views < 25 %}
                                <i class="fas fa-medal" style="color: #CD7F32; margin-right: 5px"></i>
                            {% elif post.views >= 25 and post.views < 100 %}
                                <i class="fas fa-medal" style="color: #C0C0C0; margin-right: 5px"></i>
                            {% elif post.views >= 100 %}
                                <i class="fas fa-medal" style="color: #D4AF37; margin-right: 5px"></i>
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    {% else %}
        There are no undone posts.
    {% endif %}
    </div>

    <div id="Unanswered" class="tabcontent city" style="display:none">
    {% if unanswered %}
        {% for post in unanswered %}
            <div class="content">
                <div class="media">
                    <div><img class="rounded-circle" src="{{ post.author.perfil.image.url }}" width="80" height="80">
                        {% if post.author.perfil.recompensa %}
                            <img src="/static/images/recompensa.png" class="center" style="margin-top: 13%;" title="Que és això?">
                        {% endif %}
                    </div>
                    <div class="media-body" style="margin-left: 1%;">
                        <a href="{% url 'post-detail' post.id %}" style="color: black"><h1>{{ post.title }}</h1></a>
                        <p class="text-secondary">By <a href="{%url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted|date:"j F, Y"}} at {{ post.date_posted|date:"G:i" }}</p>
                        <p>{{ post.content }}</p>
                        {% if post.views >= 0 %}
                        <p class="like" style="width: 50%; float: right; margin-top: -30px;">
                            {% if post.views >= 10 and post.views < 25 %}
                                <i class="fas fa-medal" style="color: #CD7F32; margin-right: 5px"></i>
                            {% elif post.views >= 25 and post.views < 100 %}
                                <i class="fas fa-medal" style="color: #C0C0C0; margin-right: 5px"></i>
                            {% elif post.views >= 100 %}
                                <i class="fas fa-medal" style="color: #D4AF37; margin-right: 5px"></i>
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    {% else %}
        There are no unanswered posts.
    {% endif %}
    </div>

    <script>
    function openQuestions(evt, questName) {
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(questName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>


{% endblock %}