<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

{% extends 'stay_underflow/base.html' %}

{% block content %}
    <h1>Search results... </h1>
    <br>
    {% if user_list %}
        {% for user in user_list %}
            <p><b><a style="margin:5px" href="{%url 'profile' user %}" class="userlink">{{ user }}</a></b></p>
        {% endfor %}

    {% else %}
        <div>
            Oops! It seems that nobody has that username nor similar. Have you typed it correctly?
        </div>
        <img src="/static/images/NoResult.png" class="center">
    {% endif %}


{% endblock %}