/*MENU SUPERIOR*/
.header{
    background-color: rgba(0, 0, 0, 0.79);
    padding-top: 1.6%;
    color: white;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}

.inputCercaHeader {
    width: 80%;
    font-size: 160%;
}
.inputCercaHeader, .buttonCercaHeader {
    color: grey;
    overflow: visible;
    background-color: #D2D2D4;
    border: none;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 25%;
    text-align: center;
}

.cerca{
    font-size: 0.5em;
}
/*CONTINGUT*/
.mainContent{
    max-width: 75%;
    margin: 50px auto;
    /*margin: 25px auto;*/
}

/*LINKS BARRA SUPERIOR*/
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #ff790f;
    text-decoration: none;
}
/*LINKS BARRA SUPERIOR*/
.aHeader{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.aHeader:hover{
    color: #ff790f;
    text-decoration: none;
}

/*USERS.HTML*/
.userlink{
    color: #3A4145;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*BUSCADOR*/

.s-input{
    -webkit-appearance: none;
    width: 50%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    box-shadow: 0 0 0 rgba(255,255,255,0);
    font-size: 13px;
    font-family: inherit;
    line-height: 1.15384615;
}

.s-input {
    padding-left: 32px;
}

/*PROFILE.HTML*/
.profile:after{
    content: "";
    display: table;
    clear: both;
    align-content: space-between !important;
}

.profile{
    width: 100%;
    align-content: space-between !important;
}

.questions{
    width: 40%;
}

.content{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

/*LIKES*/
.like{
    text-align: right;
    margin-right: 2%;
    margin-bottom: 2%;
}


/*MARCAR COM A BONA*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*NO HO SE NO HO HE FET JO*/
.welcomeH1{
    color: #3A4145;
    font-size: 9em;
    font-weight: 600;
}
.placeDescriptionP{
    color: #7685A2;
    font-size: 3.6em;
}

/*TABS*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
